<div class="row">
  <div class="col-sm-6 col-sm-offset-3">

    <h1><%= @survey.title %></h1>
    <p>
      <%= @survey.description %>
    </p>

    <h4>Current Questions</h4>
    <ul>
      <% @survey.multiple_choice_questions.each do |question| %>
        <li><%= question.title %></li>
        <% question.options.each do |option|%>
        <ul>
          <li><%= option.title %></li>
        </ul>
        <% end %>
      <% end %>
    </ul>

    <%= render partial: "mc_edit", locals: { :survey => @survey,
                                          :question => @question,
                                          :num_questions => @num_questions }  %>

    <%= link_to "Discard Question", multiple_choice_question_path(@question),
                                   method: :delete %>

  </div>
</div>
