<h1><%= @survey.title %></h1>
<p>
  <%= @survey.description %>
</p>

<h4>Current Questions</h4>
<ul>
  <% @survey.number_range_questions.each do |question| %>
    <li><%= question.title %></li>
  <% end %>
</ul>

<%= form_for [@survey, @question] do |f| %>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :min %>
        <%= f.number_field :min, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :max %>
        <%= f.number_field :max, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :required %>
        <%= f.check_box :required, {}, checked_value = true, unchecked_value = false%>
      </div>

      <%= f.submit class: "btn btn-primary" %>

    </div>
  </div>
<% end %>
