<div class="row">
  <div class="text-center">
    <h1><%= @survey.title %></h1>
    <p><%= @survey.description %></p>
  </div>

  <div class="col-sm-8 col-sm-offset-2">
    <form action="<%= user_responses_path(@user.id) %>" method="post">

      <% @survey.number_range_questions.each do |question|%>
        <p><%= question.title %></p>
        <div class="form-group">
          <% question.min.upto(question.max) do |val| %>
            <label><%= val %></label>
            <input type="radio" name="survey[nrq][<%= question.id %>]" value="<%= val %>">
            <% end %>
        </div>
      <% end %>

      <% @survey.multiple_choice_questions.each do |question| %>
        <p><%= question.title %></p>

          <% if question.multiple_choices %>
            <% question.options.each do |option| %>
              <div class="form-group">
                <label><%= option.title %></label>
                <input type="checkbox" name="survey[mcq][<%= question.id %>][]"
                                     value="<%= option.title %>">
              </div>
            <% end %>
          <% else %>
            <% question.options.each do |option| %>
              <div class="form-group">
                <label><%= option.title %></label>
                <input type="radio" name="survey[mcq][<%= question.id %>]" value="<%= option.title %>">
              </div>
          <% end %>
        <% end %>

      <% end %>

       <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
       <input type="hidden" name="name" value="">
      <input type="submit" value="Submit Form" class="btn btn-primary">

    </form>
  </div>
</div>
